-#encoding: UTF-8
#audio
  %audio#player
#musicbar
  %a#previous_song{:href => '#prev'} &#9664;&#9664;
  %a#play_button{:href => '#play'} &#9654;
  %a#next_song{:href => '#next'} &#9654;&#9654;
%table#songs
  %thead
    %tr
      %th #
      %th Title
      %th Album
      %th Artist
  %tbody
    - for album in @albums
      -for song in album.songs
        %tr{:id => dom_id(song),:data => {:s3_key => song.s3_key}}
          %td= song.track
          %td= song.title
          %td= song.album.title
          %td= song.album.artist
          %td
            %a.play_button{:href => "#play_#{dom_id(song)}"} &#9654;
        