%h1= t('.title')
%p= link_to t('.new_album'), new_album_path

%table
  %thead
    %tr
      %th #
      %th Title
      %th Album
      %th Artist
  
  %tbody
    - for album in @albums
      -for song in album.songs
        %tr{:id => dom_id(song),:data => {:s3_key => song.s3_key}}
          %td= song.track
          %td= song.title
          %td= song.album.title
          %td= song.album.artist
          %td= link_to("Play",song.s3_key)
        