-content_for :javascript do
  = javascript_include_tag "stopper"
#musicbar
  #player
    #info
      #song_title
      #artist
      #album
    %audio#audio{:preload => 'auto',:class => 'audio'}
#song_container
  #songs_head
    .track{:class => 'field'}
    .song_title{:class => 'field'} Title
    .album{:class => 'field'} Album
    .artist{:class => 'field'} Artist
  #songs_body
    - for album in @albums
      -for song in album.songs.sort!{|t1,t2|t1.track <=> t2.track}
        .song{:id => dom_id(song),:data => {:id => song.id}, :class => cycle(:odd, :even)}
          .track{:class => 'field'}= song.track
          .song_title{:class => 'field'}= song.title
          .album{:class => 'field'}= album.title
          .artist{:class => 'field'}= album.artist